<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/observe-js/observe-js.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-menu/paper-submenu.html">
<link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../elements/choose-language/choose-language.html">
<link rel="import" href="../elements/x-ajax/x-ajax.html">
<link rel="import" href="../elements/x-pagination/x-pagination.html">
<link rel="import" href="../styles/app-theme.html">

<dom-module id="scaffold-layout">
  <style>
    :host {
      display: block;
      --dark-primary-color: #05B0CF;
      --default-primary-color: #00BCD4;
      --light-primary-color: #ffffff;
      --text-primary-color: #ffffff;
      /*text/icons*/
      --accent-color: #FF4081;
      --primary-background-color: #ffffff;
      --primary-text-color: #212121;
      --secondary-text-color: #727272;
      --disabled-text-color: #bdbdbd;
      --divider-color: #B6B6B6;
      /* Components */
      /* paper-drawer-panel */
      --drawer-menu-color: #ffffff;
      --drawer-border-color: 1px solid #ccc;
      --drawer-toolbar-border-color: 1px solid rgba(0, 0, 0, 0.22);
      /* paper-menu */
      --paper-menu-background-color: #fff;
      --menu-link-color: #111111;
      --paper-input-container-input: {
        font-size: 12px;
      }
      ;
      /* 必须有分号，否则压缩后，无法正常渲染 */
      --paper-input-container-label: {
        font-size: 12px;
      }
      ;
      /* 必须有分号，否则压缩后，无法正常渲染 */
      --paper-menu-selected-item: {
        background-color: rgb(226, 240, 249);
      }
      ;
      /* 必须有分号，否则压缩后，无法正常渲染 */
    }

    #drawerToolbar * {
      font-size: 20px;
      color: var(--text-primary-color);
      background-color: var(--default-primary-color);
    }

    #drawerToolbar .logo {
      margin: auto auto 10px;
    }

    paper-scroll-header-panel {
      height: 100%;
    }

    paper-scroll-header-panel /deep/ #headerContainer {
      transform: inherit!important;
      transform-style: flat;
    }

    paper-material {
      border-radius: 2px;
      height: 100%;
      padding: 16px 0 16px 0;
      width: calc(98.66% - 16px);
      margin: 16px auto;
      background: white;
    }

    paper-menu iron-icon {
      margin-right: 33px;
      opacity: 0.54;
    }

    .paper-menu > .iron-selected {
      color: var(--default-primary-color);
    }

    paper-menu a {
      text-decoration: none;
      color: var(--menu-link-color);
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      font-family: 'Menlo', '微软雅黑', 'monospace', '黑体', 'Roboto', 'Noto', sans-serif;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      min-height: 39px;
      padding: 0 16px;
    }

    iron-collapse > paper-menu a > iron-icon {
      margin-left: 15px;
    }

    paper-menu iron-icon,
    paper-menu i18n-msg,
    paper-menu span {
      pointer-events: none;
    }

    .sublist {
      padding-left: 20px;
      padding-right: 20px;
    }

    paper-toolbar .app-name {
      font-size: 20px;
      font-weight: 300;
      -webkit-transform-origin: left center;
      transform-origin: left center;
    }

    #mainToolbar {
      font-size: 13px;
    }

    #mainToolbar .middle-container {
      height: 100%;
      margin-left: 48px;
    }

    #mainToolbar:not(.tall) .middle {
      font-size: 18px;
      padding-bottom: 0;
    }

    #mainToolbar .bottom {
      margin-left: 48px;
      -webkit-transform-origin: left center;
      transform-origin: left center;
    }

    #mainContainer > .content {
      padding: 0 20px 20px 20px;
    }

    @media (max-width: 600px) {
      paper-material {
        --menu-container-display: none;
        width: calc(97.33% - 32px);
        padding-left: 16px;
        padding-right: 16px;
      }
      .paper-font-display1 {
        font-size: 12px;
      }
      paper-toolbar .app-name {
        font-size: 24px;
        font-weight: 400;
      }
      #drawer .paper-toolbar {
        margin-left: 16px;
      }
      #overlay {
        min-width: 360px;
      }
      .bg {
        background: white;
      }
    }

    @media (min-width: 601px) {
      paper-material {
        width: calc(98% - 46px);
        margin-bottom: 32px;
        padding-left: 30px;
        padding-right: 30px;
      }
      iron-pages {
        padding: 15px 20px;
      }
    }
  </style>
  <template>
    <paper-drawer-panel id="paperDrawerPanel" force-narrow$="{{isFullscreen}}" on-paper-responsive-change="paperResponsiveChange">
      <!-- Drawer Scroll Header Panel -->
      <paper-scroll-header-panel drawer fixed>

        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
          <img src="../images/logo2.svg" alt="云收银" class="logo">
          <div class="app-name">
            <i18n-msg msgid="TITLE">云收银管理平台</i18n-msg>
          </div>
        </paper-toolbar>

        <!-- 菜单列表 -->
        <!-- 管理员菜单 -->
        <paper-menu id="quickPayMenuContainer" on-menu-render="handleMenuRenderEvent" hidden$="{{!isAdmin}}">
          <template is="dom-repeat" items="{{menus}}" as="menu">
            <paper-submenu opened="{{ startWith(route.path, menu.route) }}">
              <paper-item class="menu-trigger">
                <iron-icon icon$="{{menu.icon}}"></iron-icon>
                <span>{{menu.nameCN}}</span>
              </paper-item>
              <paper-menu class="menu-content sublist" attr-for-selected="data-route" selected="{{route.name}}">
                <template is="dom-repeat" items="{{menu.children}}" as="subMenu">
                  <a data-route$="{{subMenu.route}}" href$="{{subMenu.url}}">
                    <iron-icon icon$="{{subMenu.icon}}"></iron-icon>
                    <span>{{subMenu.nameCN}}</span>
                  </a>
                </template>
              </paper-menu>
            </paper-submenu>
          </template>
        </paper-menu>
        <!-- 非管理员菜单 -->
        <paper-menu class="menu-content" attr-for-selected="data-route" selected="{{route.name}}" hidden$="{{isAdmin}}">
          <template is="dom-repeat" items="{{menus}}" as="menu">
            <a data-route$="{{menu.route}}" href$="{{menu.url}}">
              <iron-icon icon$="{{menu.icon}}"></iron-icon>
              <i18n-msg msgid$="{{menu.name}}">{{menu.nameCN}}</i18n-msg>
            </a>
          </template>
        </paper-menu>
      </paper-scroll-header-panel>

      <!-- Main Area -->
      <paper-scroll-header-panel main fixed>

        <!-- Main Toolbar -->
        <paper-toolbar id="mainToolbar">
          <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
          <span class="flex"></span>
          <div>
            <i18n-msg msgid="CURRENTUSER">当前用户</i18n-msg>
            【
            <span>{{nickName}}</span> 】
          </div>
          <paper-icon-button id="logoutBtn" icon="exit-to-app" on-tap="handleLogoutTapped" alt="logout"></paper-icon-button>
          <paper-tooltip for="logoutBtn">
            <i18n-msg msgid="SYSTEM.LOGOUT">退出</i18n-msg>
          </paper-tooltip>
          <!-- Toolbar icons -->
          <choose-language id="languageChoose"></choose-language>
          <paper-tooltip for="languageChoose">
            <i18n-msg msgid="SYSTEM.CHOOSE_LANGUAGE">选择语言</i18n-msg>
          </paper-tooltip>
          <div hidden$="{{isNarrow}}">
            <paper-icon-button id="enterFullscreenMode" icon="fullscreen" on-tap="enterFullscreenMode" hidden$="{{isFullscreen}}" alt="hideMenu"></paper-icon-button>
            <paper-tooltip for="enterFullscreenMode">
              <i18n-msg msgid="SYSTEM.HIDE_SIDEBAR">隐藏菜单</i18n-msg>
            </paper-tooltip>
            <paper-icon-button id="exitFullscreenMode" icon="fullscreen-exit" on-tap="exitFullscreenMode" hidden$="{{!isFullscreen}}" alt="showMenu"></paper-icon-button>
            <paper-tooltip for="exitFullscreenMode">
              <i18n-msg msgid="SYSTEM.SHOW_SIDEBAR">显示菜单</i18n-msg>
            </paper-tooltip>
          </div>


          <!-- Application name -->
          <div class="middle middle-container center horizontal layout" id="middleContainer">
            <template is="dom-if" if="{{route.isLocale}}">
              <div class="app-name" id="appName">
                <i18n-msg msgid$="{{route.msgId}}" style="font-size: inherit;">{{route.title}}</i18n-msg>
              </div>
            </template>
            <template is="dom-if" if="{{!route.isLocale}}">
              <div class="app-name" id="appName">{{route.title}}</div>
            </template>
          </div>

          <!-- Application sub title -->
          <!-- <div class="bottom bottom-container center horizontal layout" id="bottomContainer">
            <div class="bottom-title paper-font-subhead">{{route.subtitle}}</div>
          </div> -->

        </paper-toolbar>

        <!-- Main Content -->
        <content select=".content"></content>
      </paper-scroll-header-panel>
    </paper-drawer-panel>
    <iron-localstorage id="cilUserLocalStorageInScaffoldLayout" name="CILUSER" value="{{nickName}}" on-nick-name-reload="handleReloadNickNameEvent"></iron-localstorage>
    <iron-localstorage name="CIL.CONFIG.ISFULLSCREEN" value="{{isFullscreen}}"></iron-localstorage>


  </template>
  <script>
    (function() {
      Polymer({
        is: 'scaffold-layout',

        properties: {
          route: {
            type: Object,
          },
          user: {
            type: Object,
            notify: true
          },
          isFullscreen: {
            type: Boolean,
            value: false
          },
          isNarrow: {
            type: Boolean,
            value: false
          },
          nickName: String,
          languages: {
            type: Array,
            value: [{
              key: 'zh-CN',
              value: '简体中文',
              activeClass: ''
            }, {
              key: 'en-US',
              value: 'English',
              activeClass: ''
            }, {
              key: 'ja',
              value: '日本語',
              activeClass: ''
            }]
          }
        },
        ready: function() {
          // 初始化菜单
          this.adminMenus = [{
            "nameCN": "系统管理",
            "nameEN": "",
            "icon": "settings",
            "url": "",
            "route": "/system",
            "children": [{
              "nameCN": "用户",
              "nameEN": "",
              "icon": "account-circle",
              "url": "#/system/users",
              'route': 'system.users'
            }, {
              "nameCN": "密码修改",
              "nameEN": "",
              "icon": "lock-outline",
              "url": "#/system/password/editor",
              'route': 'system.password.editor'
            }, {
              "nameCN": "APP用户",
              "nameEN": "",
              "icon": "perm-identity",
              "url": "#/system/apps",
              'route': 'system.apps'
            }]
          }, {
            "nameCN": "扫码支付",
            "nameEN": "",
            "icon": "image:crop-free",
            "url": "",
            "route": "/config",
            "children": [{
              "nameCN": "代理",
              "nameEN": "",
              "icon": "assignment-ind",
              "url": "#/config/agents",
              "route": "config.agents"
            }, {
              "nameCN": "公司",
              "nameEN": "",
              "icon": "account-box",
              "url": "#/config/subAgents",
              "route": "config.subAgents"
            }, {
              "nameCN": "商户",
              "nameEN": "",
              "icon": "home",
              "url": "#/config/groups",
              "route": "config.groups"
            }, {
              "nameCN": "门店录入",
              "nameEN": "",
              "icon": "create",
              "url": "#/config/configMer",
              "route": "config.configMer"
            }, {
              "nameCN": "批量导入",
              "nameEN": "",
              "icon": "cloud-upload",
              "url": "#/config/upload",
              "route": "config.upload"
            }, {
              "nameCN": "门店",
              "nameEN": "",
              "icon": "store",
              "url": "#/config/merchants",
              "route": "config.merchants"
            }, {
              "nameCN": "渠道商户",
              "nameEN": "",
              "icon": "account-balance",
              "url": "#/config/chanMers",
              "route": "config.chanMers"
            }, {
              "nameCN": "路由策略",
              "nameEN": "",
              "icon": "hardware:device-hub",
              "url": "#/config/routes",
              "route": "config.routes"
            }]
          }, {
            "nameCN": "快捷支付",
            "nameEN": "",
            "icon": "hardware:phonelink",
            "url": "",
            "route": "/quickPay",
            "children": [{
              "nameCN": "机构商户",
              "nameEN": "",
              "icon": "store",
              "url": "#/quickPay/merchants",
              "route": "quickPay.merchants"
            }, {
              "nameCN": "渠道商户",
              "nameEN": "",
              "icon": "account-balance",
              "url": "#/quickPay/chanMers",
              "route": "quickPay.chanMers"
            }, {
              "nameCN": "路由策略",
              "nameEN": "",
              "icon": "hardware:device-hub",
              "url": "#/quickPay/routes",
              "route": "quickPay.routes"
            }]
          }, {
            "nameCN": "交易查询",
            "nameEN": "",
            "icon": "payment",
            "url": "",
            "route": "/trade",
            "children": [{
              "nameCN": "扫码支付",
              "nameEN": "",
              "icon": "image:crop-free",
              "url": "#/trade/list",
              "route": "trade.list"
            }, {
              "nameCN": "扫码交易监控",
              "nameEN": "",
              "icon": "image:crop-free",
              "url": "#/trade/monitor",
              "route": "trade.monitor"
            },{
              "nameCN": "快捷支付",
              "nameEN": "",
              "icon": "hardware:phonelink",
              "url": "#/trade/bindingpay/list",
              "route": "trade.bindingpay.list"
            }, {
              "nameCN": "卡券核销",
              "nameEN": "",
              "icon": "card-giftcard",
              "url": "#/trade/coupon/list",
              "route": "trade.coupon.list"
            }]
          }, {
            "nameCN": "统计报表",
            "nameEN": "",
            "icon": "receipt",
            "url": "",
            "route": "/stats",
            "children": [{
                "nameCN": "扫码支付交易统计",
                "nameEN": "",
                "icon": "print",
                "url": "#/stats/reports",
                "route": "stats.reports"
              },
              /*{
                "nameCN": "老系统扫码支付",
                "nameEN": "",
                "icon": "cloud-download",
                "url": "#/stats/old/reports",
                "route": "stats.old.reports"
              }, */
              {
                "nameCN": "扫码支付清算报表",
                "nameEN": "",
                "icon": "assignment-returned",
                "url": "#/stats/settle/reports",
                "route": "stats.settle.reports"
              }, {
                "nameCN": "扫码支付划款报表",
                "nameEN": "",
                "icon": "assignment-returned",
                "url": "#/stats/transfer/reports",
                "route": "stats.transfer.reports"
              }
            ]
          }, {
            "nameCN": "内部测试",
            "nameEN": "",
            "icon": "bug-report",
            "url": "",
            "route": "/test",
            "children": [{
              "nameCN": "扫码支付",
              "nameEN": "",
              "icon": "image:center-focus-strong",
              "url": "#/test/scanpay",
              "route": "test.scanpay"
            }, {
              "nameCN": "绑定支付",
              "nameEN": "",
              "icon": "image:style",
              "url": "#/test/bindingpay",
              "route": "test.bindingpay"
            }, {
              "nameCN": "七牛 Ajax 上传文件",
              "nameEN": "",
              "icon": "cloud-upload",
              "url": "#/test/qiniu",
              "route": "test.qiniu"
            }, {
              "nameCN": "HTML5读取文件内容",
              "nameEN": "",
              "icon": "hardware:scanner",
              "url": "#/test/filereader",
              "route": "test.filereader"
            }, {
              "nameCN": "卡券",
              "nameEN": "",
              "icon": "card-giftcard",
              "url": "#/test/coupon",
              "route": "test.coupon"
            }]
          }];
          this.genAdminMenus = [{
            "nameCN": "系统管理",
            "nameEN": "",
            "icon": "settings",
            "url": "",
            "route": "/system",
            "children": [{
              "nameCN": "密码修改",
              "nameEN": "",
              "icon": "lock-outline",
              "url": "#/system/password/editor",
              'route': 'system.password.editor'
            }]
          }, {
            "nameCN": "交易查询",
            "nameEN": "",
            "icon": "payment",
            "url": "",
            "route": "/trade",
            "children": [{
              "nameCN": "扫码支付",
              "nameEN": "",
              "icon": "image:crop-free",
              "url": "#/trade/list",
              "route": "trade.list"
            }, {
              "nameCN": "扫码交易监控",
              "nameEN": "",
              "icon": "image:crop-free",
              "url": "#/trade/monitor",
              "route": "trade.monitor"
            },{
              "nameCN": "快捷支付",
              "nameEN": "",
              "icon": "hardware:phonelink",
              "url": "#/trade/bindingpay/list",
              "route": "trade.bindingpay.list"
            }, {
              "nameCN": "卡券核销",
              "nameEN": "",
              "icon": "card-giftcard",
              "url": "#/trade/coupon/list",
              "route": "trade.coupon.list"
            }]
          }, {
            "nameCN": "统计报表",
            "nameEN": "",
            "icon": "receipt",
            "url": "",
            "route": "/stats",
            "children": [{
              "nameCN": "扫码支付交易统计",
              "nameEN": "",
              "icon": "print",
              "url": "#/stats/reports",
              "route": "stats.reports"
            }, {
              "nameCN": "扫码支付清算报表",
              "nameEN": "",
              "icon": "assignment-returned",
              "url": "#/stats/settle/reports",
              "route": "stats.settle.reports"
            }]
          }];


          this.commonMenus = [{
            "name": "PASSWORDMODIFICATION.TITLE",
            "nameCN": "密码修改",
            "icon": "lock-outline",
            "url": "#/system/password/editor",
            'route': 'system.password.editor'
          }, {
            "name": "SCANPAY_TRADE_LIST.MENU_NAME",
            "nameCN": "扫码交易",
            "icon": "image:crop-free",
            "url": "#/trade/list",
            "route": "trade.list"
          }, {
            "name": "SCANPAY_TRADE_STATS.MENU_NAME",
            "nameCN": "扫码支付交易统计",
            "icon": "print",
            "url": "#/stats/reports",
            "route": "stats.reports"
          }, {
            "name": "SCANPAY_TRADE_SETTLE_REPORT.MENU_NAME",
            "nameCN": "扫码支付清算报表",
            "icon": "assignment-returned",
            "url": "#/stats/settle/reports",
            "route": "stats.settle.reports"
          }];
          this.agentMenus = [{
            "name": "USERMANAGEMENT.USERMANAGEMENT",
            "nameCN": "用户",
            "icon": "account-circle",
            "url": "#/system/users",
            'route': 'system.users'
          }, {
            "name": "PASSWORDMODIFICATION.TITLE",
            "nameCN": "密码修改",
            "icon": "lock-outline",
            "url": "#/system/password/editor",
            'route': 'system.password.editor'
          }, {
            "name": "APPUSERMANAGEMENT.APPUSERMANAGEMENT",
            "nameCN": "APP用户",
            "icon": "perm-identity",
            "url": "#/system/apps",
            'route': 'system.apps'
          }, {
            "name": "SCANPAY_TRADE_LIST.MENU_NAME",
            "nameCN": "扫码交易",
            "icon": "image:crop-free",
            "url": "#/trade/list",
            "route": "trade.list"
          }, {
            "name": "SCANPAY_TRADE_STATS.MENU_NAME",
            "nameCN": "扫码支付交易统计",
            "icon": "print",
            "url": "#/stats/reports",
            "route": "stats.reports"
          }, {
            "name": "SCANPAY_TRADE_SETTLE_REPORT.MENU_NAME",
            "nameCN": "扫码支付清算报表",
            "icon": "assignment-returned",
            "url": "#/stats/settle/reports",
            "route": "stats.settle.reports"
          }];
        },
        startWith: function(path, prefix) {
          if (!path || !prefix) {
            return false;
          }
          return path.substr(0, prefix.length) === prefix;
        },
        // 退出
        handleLogoutTapped: function() {
          this.$.logoutBtn.hidden = true;
          // 事件冒泡到顶层处理
          this.fire('logout');
        },
        // 进入全屏模式
        enterFullscreenMode: function() {
          this.isFullscreen = true;
        },
        // 退出全屏模式
        exitFullscreenMode: function() {
          this.isFullscreen = false;
        },
        paperResponsiveChange: function(e, detail) {
          if (!this.isFullscreen) {
            this.isNarrow = detail.narrow;
          }
        },
        // 监听菜单渲染的事件
        handleMenuRenderEvent: function(e, detail) {
          if (detail === 'admin') {
            this.set('isAdmin', true);
            this.menus = this.adminMenus;
            return;
          } else if (detail === 'genAdmin') {
            this.set('isAdmin', true);
            this.menus = this.genAdminMenus;
            return;
          } else if (detail === 'agent') {
            this.set('isAdmin', false);
            this.menus = this.agentMenus;
            return;
          }
          this.set('isAdmin', false);
          this.menus = this.commonMenus;
        },
        handleReloadNickNameEvent: function(e) {
          this.set('nickName', e.detail);
        }
      });
    })();
  </script>
</dom-module>
