/temp/
/distrib/
/flags/version.go

static/v0.0.1/elements/trade-list/trade-list-yun-select.html
static/v0.0.1/elements/yun-select/yun-select-bak.html

cloudCashier/bower_components/
cloudCashier/**/bower_components/

/admin/

static/dist
static/bower_components
static/node_modules


# Environment configuration
.idea/
.DS_Store
.tern-project

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.out

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
