/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 2.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
button {
    display: inline-block;
    outline: none;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Response styles
   ========================================================================== */

.row {
    /*margin-right: -15px;*/
    /*margin-left: -15px;*/
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}
.col-xs-pull-12 {
    right: 100%;
}
.col-xs-pull-11 {
    right: 91.66666667%;
}
.col-xs-pull-10 {
    right: 83.33333333%;
}
.col-xs-pull-9 {
    right: 75%;
}
.col-xs-pull-8 {
    right: 66.66666667%;
}
.col-xs-pull-7 {
    right: 58.33333333%;
}
.col-xs-pull-6 {
    right: 50%;
}
.col-xs-pull-5 {
    right: 41.66666667%;
}
.col-xs-pull-4 {
    right: 33.33333333%;
}
.col-xs-pull-3 {
    right: 25%;
}
.col-xs-pull-2 {
    right: 16.66666667%;
}
.col-xs-pull-1 {
    right: 8.33333333%;
}
.col-xs-pull-0 {
    right: auto;
}
.col-xs-push-12 {
    left: 100%;
}
.col-xs-push-11 {
    left: 91.66666667%;
}
.col-xs-push-10 {
    left: 83.33333333%;
}
.col-xs-push-9 {
    left: 75%;
}
.col-xs-push-8 {
    left: 66.66666667%;
}
.col-xs-push-7 {
    left: 58.33333333%;
}
.col-xs-push-6 {
    left: 50%;
}
.col-xs-push-5 {
    left: 41.66666667%;
}
.col-xs-push-4 {
    left: 33.33333333%;
}
.col-xs-push-3 {
    left: 25%;
}
.col-xs-push-2 {
    left: 16.66666667%;
}
.col-xs-push-1 {
    left: 8.33333333%;
}
.col-xs-push-0 {
    left: auto;
}
.col-xs-offset-12 {
    margin-left: 100%;
}
.col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.col-xs-offset-9 {
    margin-left: 75%;
}
.col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.col-xs-offset-6 {
    margin-left: 50%;
}
.col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.col-xs-offset-3 {
    margin-left: 25%;
}
.col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.col-xs-offset-0 {
    margin-left: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #FFF;
}
.main-container {}

/* 左侧菜单 */

.sidebar {
    position: absolute;
    float: left;
    bottom: 0;
    top: 0;
    width: 120px;
    left: -120px;
    background-color: #FFFFFF;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.sidebar.menu-show {
    left: 0;
}
.sidebar > .nav {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}
.nav > li {
    color: #1EBED6;
    cursor: pointer;
    position: relative;
    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: inherit;
    text-decoration: blink;
    line-height: 20px;
}
.nav > li.active > a {
    background-color: #1EBED6;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

/* 主页面 */

.main-content {
    color: #FFFFFF;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    float: right;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
.menu-toggle {
    position: absolute;
    left: 25px;
    top: 10px;
    z-index: 1;
    padding: 10px;
}
.menu-show.sidebar+.main-content {
    margin-left: 120px;
    right: -120px;
}
.main-content > section {
    display: none;
}

#scanPage, #pwdChange, #accountChange, #quotaExtend {
    background-color: #1EBED6;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
#pwdChange > .container, #accountChange > .container, #quotaExtend > .container {
    background-color: #1EBED6;
    padding-bottom: 30px;
}
#scanPage > .content-header {
    position: relative;
    padding: 20px 30px 0px;
    background-color: #1EBED6;
}
#scanPage > .content-header > .logo-container {
    text-align: center;
}
.logo-container > img {
    width: 20%;
}
#scanPage> .content-header > .function-container {
    margin-top: 10px;
    text-align: center;
    height: 50px;
}
.function-container > .button-bg {
    width: 140px;
    height: 70%;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: 0 auto;
}
.function-container > .button-bg > .button-in, .button-out {
    position: absolute;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    width: 60px;
    line-height: 32px;
}
.button-bg > .button-in {
    margin-left: 75px;
}
.button-bg > .button-switch {
    position: relative;
    left: 0px;
    top: -1px;
    width: 66px;
    height: 33px;
    border-radius: 14px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: #FFFFFF;
    color: #1EBED6;
    line-height: 32px;
    font-size: 0.9em;
}
.button-bg.button-active .button-switch {
    left: 70px;
}
#scanPage > .content-screen {
    height: 52px;
    padding: 1px 0 0 10px;
    margin: 0;
    background-color: #FFFFFF;
    color: #5C5C5C;
}
.content-screen > .rmb-char {
    width: 50px;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    float: left;
}
.content-screen > .display-content {
    margin-left: 50px;
    padding-right: 30px;
    text-align: right;
}
.display-content > .number-zone {
    height: 20px;
}
.display-content > .result-zone {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #000000;
}
#scanPage > .content-body {
    padding: 20px 20px;
    line-height: 1.4em;
    background-color: #1EBED6;
}
.content-body > .key-zone {
    margin-bottom: 20px;
}
.key-zone > .row {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.key-zone > .row > div {}
.key-zone > .row button {
    background-color: #1EBED6;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    color: #FFFFFF;
}
.key-zone > .row button:active {
    background-color: #00a1b9;
}
#btnPlus {
    border: 2px solid #FFE839;
    color: #FFE839;
}
#btnScan {
    border: 2px solid #FFE839;
    color: #FFE839;
    width: 100%;
}
.content-body > .action-zone {
    margin-top: 15px;
    margin-bottom: 15px;
}
.action-zone > .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.action-zone button {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: #FF9700;
    border: 2px solid #FF9700;
}
.action-zone > .row > div:last-child > button {
    margin-right: 0;
    background-color: #2BBE35;
    border: 2px solid #2BBE35;
}
.action-zone button.active {
    border: 2px solid #FFFFFF!important;
}
button#btnAlipay, #btnTenpay {
    width: 135px;
}
#transManage > .header {
    text-align: center;
    background-color: #1EBED6;
}
#transManage > .header > .title {
    padding: 12px;
}
.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group>button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid #FFFFFF;
    position: relative;
    float: left;
    background-color: #1EBED6;
    border-radius: 10px;
}
.btn-group button+button {
    margin-left: -1px;
}
.btn-group>button:first-child {
    margin-left: 0;
    border-radius: 10px 0 0 10px;
    border-right: none;
}
.btn-group>button:last-child {
    margin-left: 0;
    border-radius: 0 10px 10px 0;
    border-left: none;
}
.btn-group>button:not(:first-child):not(:last-child) {
    border-radius: 0;
    border-left: none;
    border-right: none;
}
.btn-group button.active {
    background-color: #FFFFFF;
    color: #1EBED6;
}
.header > .header-plus {
    width: 100%;
    background-color: #DCDDDE;
    text-align: center;
    color: #000000;
    font-size: xx-small;
    padding: 8px 0;
    margin-top: 10px;
    min-height: 30px
}

/* 交易管理 */

#transManage #wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    top: 150px;
    background-color: #FFF;
    color: #000;
}
#transManage .scroller {
    position: relative;
    min-height: calc(100% - 32px);
    min-height: -webkit-calc(100% - 32px);
}
.scroller > #freshContainer {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    display: none;
    padding-top: 15px;
}
.scroller > .top-fresh, .scroller > .bottom-fresh {
    background-color: #FFF;
    padding: 5px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 0px;
}
.scroller > .bottom-fresh {
    background-color: #FFF;
    position: absolute;
    bottom: 0;
    top: 100%;
    width: 100%;
    display: none;
    text-align: center;
    padding: 0 0 10px;
}
.scroller > .top-fresh > .icon-container, .scroller > .bottom-fresh > .icon-container {}
.scroller > .top-fresh > .icon-container > .fa-long-arrow-down, .scroller > .bottom-fresh > .icon-container > .fa-long-arrow-down {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.scroller > .top-fresh > .icon-container > .fa-reverse, .scroller > .bottom-fresh > .icon-container > .fa-reverse {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
#transManage.list-container {
    background-color: #FFFFFF;
    color: #000000;
    position: absolute;
    bottom: 0;
    top: 145px;
    width: 100%;
}
.collection {
    list-style: none;
    padding: 0;
    margin: 0;
}
.collection > .collection-item {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
}
.collection-item > .pay-logo {
    width: 60px;
    height: 60px;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 5px;
}
.pay-logo > img {
    width: 50px;
}
.collection-item > .tran-content {
    margin-left: 60px;
    border-bottom: 1px solid #DDD;
    overflow: auto;
    padding-bottom: 5px;
}
.tran-content > .content-left {
    float: left;
}
.tran-content > .content-left > div {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
.tran-content > .content-left > div:first-child, .tran-content > .content-left > div:last-child {
    height: 15px;
    line-height: 15px;
}
.tran-content > .content-right {
    float: right;
}
.content-right > .amount-zone {
    height: 30px;
    line-height: 30px;
    font-size: large;
}
.content-right > .button {
    float: right;
    height: 20px;
    background-color: #1EBED6;
    line-height: 13px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: x-small;
    padding: 5px 8px;
    text-decoration: blink;
    min-width: 25px;
}

/*修改密码*/

input:-ms-input-placeholder {
    color: #ffffff;
}
input::-webkit-input-placeholder {
    color: #ffffff;
}
#pwdChange .container {
    text-align: center;
}
.form-container-pwd {
    margin-top: 20%;
}
.input-container-ch {
    text-align: center;
    position: relative;
    margin: 0 auto 20px;
    width: 76%;
}
.input-container-ch > .email-input {
    background: #1EBED6;
    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    width: 100%;
    height: 40px;
    color: #FFFFFF;
    padding: 10px 0 10px 42px;
    display: block;
    font-size: 13px;
    line-height: 1.42857143;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-container-ch > i {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 43px;
}
.btn-next {
    margin: 0 auto;
    width: 100%;
    background-color: #81DFEB;
    color: #FFFFFF;
    border: 2px solid #81DFEB;
    border-radius: 27px;
    padding: 5px 24px;
    height: 50px;
}

/*账户修改*/

#pwdChange > .container > .head-container-side, #accountChange > .container > .head-container-side, #quotaExtend > .container > .head-container-side {
    text-align: center;
    padding: 12px;
}
#accountChange > .container > .head-plus-container, #quotaExtend > .container > .head-plus-container {
    width: 78%;
    margin: 0px auto 12px;
    line-height: 1.4;
    font-size: 0.7em;
}
.head-plus-container >p {
    margin: 0;
}
#accountChange .form-container-pwd, #quotaExtend .form-container-pwd {
    margin: 0;
}

/*交易详情*/

#tranDetail > .header {
    text-align: center;
    background-color: #1EBED6;
    padding: 12px;
}
.header > .return {
    position: absolute;
    left: 10px;
    width: 50px;
    padding: 10px;
    top: 10px;
}
#tranDetail > .header > h3 {
    margin-bottom: 0;
}
#tranDetail > .detail-container {
    /*position: absolute;*/
    background-color: #FFFFFF;
    color: #000000;
    /*bottom: 0;*/
    /*top: 60px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*overflow: auto;*/
    overflow: hidden;
}
.detail-container > .detail-title {
    padding: 5px;
    border-bottom: 2px solid #D9DBDB;
}
.detail-container > .detail-title > .pay-logo {
    display: inline;
    width: 60px;
    height: 60px;
}
.detail-container > .detail-title > .pay-title {
    display: inline;
}
.detail-container > .detail-amount {
    text-align: center;
    padding: 0 25px;
    border-bottom: 2px solid #D9DBDB;
}
.detail-amount > h2, .detail-amount > h6 {
    margin: 0;
}
.detail-container > .detail-content {
    padding: 10px 10px 10px 10px;
}
.detail-container > .detail-action {
    text-align: center;
    /*height: 150px;*/
    left: 0;
    width: 100%;
    margin: 30px 0;
}
.detail-action > button {
    width: 70%;
    background-color: #1EBED6;
    color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 20px;
    display: inline-block;
    outline: none;
}
@media (max-width: 350px) {
    .key-zone > .row button {
        width: 60px;
    }
    #btnScan {
        width: 133px;
    }
    .action-zone button {
        width: 140px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.dl-horizontal {
    margin-top: 0;
    margin-bottom: 20px;
}
.dl-horizontal dt {
    float: left;
    width: 70px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 80px;
}

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}

/*#wrapper {
    background-color: #FFFFFF;
    color: #000000;
    position: absolute;
    bottom: 0;
    top: 145px;
    width: 100%;
}*/


/*#scroller {
    /*  -webkit-touch-callout:none;*/

-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
width: 100%;
padding: 0;

}

/*#scroller ul {
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}

#scroller li {
    padding:0 10px;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
    background-color:#fafafa;
    font-size:14px;
}*/

/**
 *
 * Pull down styles
 *
 */

/*#pullDown, #pullUp {
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}
#pullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}
#pullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}
#pullUp.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}
#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}*/
