* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.header-title {
    background: #f2f2f2;
    margin-bottom: 10px;
    position: relative;
}
.center-block {
    text-align: center;
}
.header-title .cart {
    position: absolute;
    right: 20px;
    top: 10px;
    background: url(./img/shopcart.png) no-repeat center;
    width: 50px;
    height: 40px;
    pointer: cursor;
}
.header-title .cart-count {
    position: absolute;
    right: 20px;
    top: 10px;
    background: #f00;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
}
.item {}
.item > .item-img {}
.item > .item-plug {
    padding: 10px;
}
.item > .item-plug > .item-price {
    display: inline;
}
.item > .item-plug > .item-option {
    display: inline;
    float: right;
}
.cart-item{
    text-align: center;
    line-height:50px;
    margin-bottom: 5px;
}
.cart-item > .cart-item-pic{
    display: inline-block;
    width: 50px;
    height: 50px;
    float:left;
}
.cart-item > .cart-item-pic >img{
    height: 100%;
}

.cart-item > .cart-item-amount{
    display: inline-block;
    float: right;
    height:50px;
    line-height:50px;
}
#select_currency{
    height:22px; 
    line-height:18px; 
    padding:2px 0
}
