body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

#mainContainer > .content{
  padding: 20px;
}
paper-toast#toast {
  z-index: 10;
}
* {
  font-size: 13px;
}

/* paper-input */

div.search-condition {
  margin: 10px auto;
}
div.search-condition paper-input,div.search-condition x-select {
  width: 170px;
  margin-right: 15px;
  display: inline-block;
}
div.search-condition paper-button {
  display: inline-block;
  background: #05B0CF;
  color: #ffffff;
}
div.divider.blank {
  height: 9px;
}
div.divider.line {
  border-top: 1px solid #eee;
  margin: 9px 0;
}

/* 定义 data-grid 样式 */

table.data-grid {
  display: block;
  overflow-x: auto;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: 10px auto;
}
table.data-grid th, table.data-grid td {
  white-space: nowrap;
  padding: 6px;
}
table.data-grid.low th, table.data-grid.low td {
  padding: 3px 8px;
}
table.data-grid > thead > tr > th {
  line-height: 1.42857143;
  border-bottom: 1px solid #ddd;
  width: 1%;
}
table.data-grid > tbody > tr > th, table.data-grid > tbody > tr > td {
    width: 1%;
}
table.data-grid > tfoot > tr > td {
  line-height: 1.42857143;
  border-top: 1px solid #ddd;
  width: 1%;
}
table.data-grid > tbody > tr:hover {
  background-color: rgba(0, 188, 212, 0.17) !important;
}
table.data-grid > tbody > tr:nth-child(even) {
  background-color: #f9f9f9;
}
table.data-grid iron-icon {
  height: 1.2em !important;
}
table.data-grid tbody tr th {
  text-align: left;
}

pre {
  font-family: monospace;
  font-size: 8px;
}

/* mouse */
.hand {
    cursor: pointer;
}

/* colors */

.red {
  color: #D50000;
}
.green {
  color: #00C853;
}
.blue {
  color: #E65100;
}
/* align */
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}

.paper-button-1 {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-width: 5.14em;
  margin: 0 0.29em;
  background: #05B0CF;
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  outline-width: 0;
  border-radius: 3px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  z-index: 0;
  padding: 0.7em 0.57em;
}
