<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-menu/paper-submenu.html">
<link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../elements/x-pagination/x-pagination.html">
<link rel="import" href="../styles/app-theme.html">

<dom-module id="scaffold-layout">
  <style>
    :host {
      display: block;
      --dark-primary-color: #05B0CF;
      --default-primary-color: #00BCD4;
      --light-primary-color: #ffffff;
      --text-primary-color: #ffffff;
      /*text/icons*/
      --accent-color: #FF4081;
      --primary-background-color: #ffffff;
      --primary-text-color: #212121;
      --secondary-text-color: #727272;
      --disabled-text-color: #bdbdbd;
      --divider-color: #B6B6B6;
      /* Components */
      /* paper-drawer-panel */
      --drawer-menu-color: #ffffff;
      --drawer-border-color: 1px solid #ccc;
      --drawer-toolbar-border-color: 1px solid rgba(0, 0, 0, 0.22);
      /* paper-menu */
      --paper-menu-background-color: #fff;
      --menu-link-color: #111111;

      --paper-input-container-input: {
        font-size: 12px;
      }
      ; /* 必须有分号，否则压缩后，无法正常渲染 */
      --paper-input-container-label: {
        font-size: 12px;
      }
      ; /* 必须有分号，否则压缩后，无法正常渲染 */
      --paper-menu-selected-item: {
        background-color: rgb(226, 240, 249);
      }
      ; /* 必须有分号，否则压缩后，无法正常渲染 */
    }

    #drawerToolbar * {
      font-size: 20px;
      color: var(--text-primary-color);
      background-color: var(--default-primary-color);
    }

    #drawerToolbar .logo {
      margin: auto auto 10px;
    }

    paper-scroll-header-panel {
      height: 100%;
    }

    paper-material {
      border-radius: 2px;
      height: 100%;
      padding: 16px 0 16px 0;
      width: calc(98.66% - 16px);
      margin: 16px auto;
      background: white;
    }

    paper-menu iron-icon {
      margin-right: 33px;
      opacity: 0.54;
    }

    .paper-menu > .iron-selected {
      color: var(--default-primary-color);
    }

    paper-menu a {
      text-decoration: none;
      color: var(--menu-link-color);
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -ms-flex-direction: row;
      -webkit-flex-direction: row;
      flex-direction: row;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      font-family: 'Roboto', 'Noto', sans-serif;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      min-height: 39px;
      padding: 0 16px;
    }

    iron-collapse > paper-menu a > iron-icon {
      margin-left: 15px;
    }

    paper-submenu iron-icon,
    paper-submenu span {
      pointer-events: none;
    }

    .sublist {
      padding-left: 20px;
      padding-right: 20px;
    }

    paper-toolbar.tall .app-name {
      font-size: 40px;
      font-weight: 300;
      -webkit-transform-origin: left center;
      transform-origin: left center;
    }

    #mainToolbar .middle-container {
      height: 100%;
      margin-left: 48px;
    }

    #mainToolbar:not(.tall) .middle {
      font-size: 18px;
      padding-bottom: 0;
    }

    #mainToolbar .bottom {
      margin-left: 48px;
      -webkit-transform-origin: left center;
      transform-origin: left center;
    }

    #mainContainer > .content {
      padding: 20px;
    }

    @media (max-width: 600px) {
      paper-material {
        --menu-container-display: none;
        width: calc(97.33% - 32px);
        padding-left: 16px;
        padding-right: 16px;
      }
      .paper-font-display1 {
        font-size: 12px;
      }
      paper-toolbar.tall .app-name {
        font-size: 24px;
        font-weight: 400;
      }
      #drawer .paper-toolbar {
        margin-left: 16px;
      }
      #overlay {
        min-width: 360px;
      }
      .bg {
        background: white;
      }
    }

    @media (min-width: 601px) {
      paper-material {
        width: calc(98% - 46px);
        margin-bottom: 32px;
        padding-left: 30px;
        padding-right: 30px;
      }
      iron-pages {
        padding: 15px 20px;
      }
    }
  </style>
  <template>
    <paper-drawer-panel id="paperDrawerPanel" on-paper-header-transform="paperHeaderTransform">
      <!-- Drawer Scroll Header Panel -->
      <paper-scroll-header-panel drawer fixed>

        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
          <img src="../images/logo2.svg" alt="云收银" class="logo">
          <div class="app-name">云收银管理平台</div>
        </paper-toolbar>

        <!-- 菜单列表 -->
        <paper-menu>
          <paper-submenu opened="{{ startWith(route.path, 'config') }}">
            <paper-item class="menu-trigger">
              <iron-icon icon="build"></iron-icon>
              <span>扫码支付商户配置</span>
            </paper-item>
            <paper-menu class="menu-content sublist" attr-for-selected="data-route" selected="{{route.name}}">
              <a data-route="config.agents" href="#/config/agents">
                <iron-icon icon="assignment-ind"></iron-icon>
                <span>代理</span>
              </a>
              <a data-route="config.subAgents" href="#/config/subAgents">
                <iron-icon icon="account-circle"></iron-icon>
                <span>公司</span>
              </a>
              <a data-route="config.groups" href="#/config/groups">
                <iron-icon icon="home"></iron-icon>
                <span>商户</span>
              </a>
              <a data-route="config.configMer" href="#/config/configMer">
                <iron-icon icon="create"></iron-icon>
                <span>门店录入</span>
              </a>
              <a data-route="config.upload" href="#/config/upload">
                <iron-icon icon="cloud-upload"></iron-icon>
                <span>批量导入</span>
              </a>
              <a data-route="config.merchants" href="#/config/merchants">
                <iron-icon icon="store"></iron-icon>
                <span>门店</span>
              </a>
              <a data-route="config.chanMers" href="#/config/chanMers">
                <iron-icon icon="account-balance"></iron-icon>
                <span>渠道商户</span>
              </a>
              <a data-route="config.routes" href="#/config/routes">
                <iron-icon icon="settings-input-component"></iron-icon>
                <span>路由策略</span>
              </a>
            </paper-menu>
          </paper-submenu>

          <paper-submenu opened="{{ startWith(route.path, 'quickPay') }}">
            <paper-item class="menu-trigger">
              <iron-icon icon="home"></iron-icon>
              <span>快捷支付商户配置</span>
            </paper-item>
            <paper-menu class="menu-content sublist" attr-for-selected="data-route" selected="{{route.name}}">
              <a data-route="quickPay.merchants" href="#/quickPay/merchants">
                <iron-icon icon="store"></iron-icon>
                <span>机构商户</span>
              </a>
              <a data-route="quickPay.chanMers" href="#/quickPay/chanMers">
                <iron-icon icon="account-balance"></iron-icon>
                <span>渠道商户</span>
              </a>
              <a data-route="quickPay.routes" href="#/quickPay/routes">
                <iron-icon icon="settings-input-component"></iron-icon>
                <span>路由策略</span>
              </a>
            </paper-menu>
          </paper-submenu>

          <paper-submenu opened="{{ startWith(route.path, 'trade') }}">
            <paper-item class="menu-trigger">
              <iron-icon icon="swap-horiz"></iron-icon>
              <span>交易查询</span>
            </paper-item>
            <paper-menu class="menu-content sublist" attr-for-selected="data-route" selected="{{route.name}}">
              <a data-route="trade.list" href="#/trade/list">
                <iron-icon icon="payment"></iron-icon>
                <span>扫码交易</span>
              </a>
              <a data-route="trade.bindingpay.list" href="#/trade/bindingpay/list">
                <iron-icon icon="payment"></iron-icon>
                <span>绑定交易</span>
              </a>
              <a data-route="trade.reports" href="#/trade/reports">
                <iron-icon icon="file-download"></iron-icon>
                <span>报表下载</span>
              </a>
              <a data-route="trade.old.reports" href="#/trade/old/reports">
                <iron-icon icon="cloud-download"></iron-icon>
                <span>旧系统交易统计</span>
              </a>
            </paper-menu>
          </paper-submenu>

          <paper-submenu opened="{{ startWith(route.path, 'test') }}">
            <paper-item class="menu-trigger">
              <iron-icon icon="bug-report"></iron-icon>
              <span>内部测试</span>
            </paper-item>
            <paper-menu class="menu-content sublist" attr-for-selected="data-route" selected="{{route.name}}">
              <a data-route="test.scanpay" href="#/test/scanpay">
                <iron-icon icon="pageview"></iron-icon>
                <span>扫码支付</span>
              </a>
              <a data-route="test.bindingpay" href="#/test/bindingpay">
                <iron-icon icon="icons:speaker-notes"></iron-icon>
                <span>绑定支付</span>
              </a>
              <a data-route="test.qiniu" href="#/test/qiniu">
                <iron-icon icon="cloud-upload"></iron-icon>
                <span>七牛 Ajax 上传文件</span>
              </a>
              <a data-route="test.filereader" href="#/test/filereader">
                <iron-icon icon="get-app"></iron-icon>
                <span>HTML5 读取文件内容</span>
              </a>
            </paper-menu>
          </paper-submenu>
        </paper-menu>

      </paper-scroll-header-panel>

      <!-- Main Area -->
      <paper-scroll-header-panel main condenses keep-condensed-header>

        <!-- Main Toolbar -->
        <paper-toolbar id="mainToolbar" class="tall">
          <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
          <span class="flex"></span>

          <!-- Toolbar icons -->
          <paper-icon-button icon="refresh"></paper-icon-button>
          <paper-icon-button icon="search"></paper-icon-button>

          <!-- Application name -->
          <div class="middle middle-container center horizontal layout" id="middleContainer">
            <div class="app-name" id="appName">{{route.title}}</div>
          </div>

          <!-- Application sub title -->
          <div class="bottom bottom-container center horizontal layout" id="bottomContainer">
            <div class="bottom-title paper-font-subhead">{{route.subtitle}}</div>
          </div>

        </paper-toolbar>

        <!-- Main Content -->
        <content select=".content"></content>
      </paper-scroll-header-panel>
    </paper-drawer-panel>
  </template>
  <script>
    (function() {
      Polymer({
        is: 'scaffold-layout',

        properties: {
          route: {
            type: Object,
          }
        },
        paperHeaderTransform: function(e) {
          var appName = this.$.appName;
          var middleContainer = this.$.middleContainer;
          var bottomContainer = this.$.bottomContainer;
          var detail = e.detail;
          var heightDiff = detail.height - detail.condensedHeight;
          var yRatio = Math.min(1, detail.y / heightDiff);
          var maxMiddleScale = 0.50; // appName max size when condensed. The smaller the number the smaller the condensed size.
          var scaleMiddle = Math.max(maxMiddleScale, (heightDiff - detail.y) / (heightDiff / (1 - maxMiddleScale)) + maxMiddleScale);
          var scaleBottom = 1 - yRatio;

          // Move/translate middleContainer
          Polymer.Base.transform('translate3d(0,' + yRatio * 100 + '%,0)', middleContainer);

          // Scale bottomContainer and bottom sub title to nothing and back
          Polymer.Base.transform('scale(' + scaleBottom + ') translateZ(0)', bottomContainer);

          // Scale middleContainer appName
          Polymer.Base.transform('scale(' + scaleMiddle + ') translateZ(0)', appName);
        },
        startWith: function(name, prefix) {
          if (!name || !prefix) {
            return false;
          }
          return name.substr(1, prefix.length) === prefix;
        },
      });
    })();
  </script>
</dom-module>
