.login-content {
  text-align: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00bcd4;
  content: "";
  z-index: 0;
  font-weight: 400;
  padding-top: 65px;
  padding-bottom: 110px;
  .lc-block {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0,0,0,0.27);
    border-radius: 2px;
    width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px;
    z-index: 10;
  }
}
.lc-block:not(.lcb-alt) .btn-login {
  top: 50%;
  margin-top: -25px;
  right: -25px;
}
@media screen and (max-width: 767px) {
  .lc-block {
    padding: 25px 35px 25px 20px !important;
    width: calc(~"100% - 60px")!important;
  }
}
