<div class="login-content">
	<div class="form">
		<h2 class="header">忘记密码</h2>
		<div class="pwd-input-group">
			<div>重设密码</div>
			<div class="input-wrap">
				<input type="{{prc.inputType}}" class="form-control" placeholder="请填写登录密码" data-ng-model="prc.request.password">
			</div>
			<div class="show-pwd" data-ng-click="prc.togglePasswordShow()"></div>
		</div>

		<div class="pwd-button-group">
			<button type="button" class="btn btn-info" name="button" data-ng-click="prc.sendRequest()">确认</button>
		</div>

		<div class="logo">
			<img src="assets/images/logo-lg.png" alt="" />
		</div>

	</div>
</div>
