body {
    font-family: "RobotoDraft";
    font-weight: 300;
}

core-animated-pages {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    overflow: hidden;
}

core-animated-pages > * {
    border-radius: 5px;
    font-size: 50px;
    background-color: white;
}

body /deep/ core-toolbar {
                background-color: #03a9f4;
                color: #fff;
            }

@media all and (max-width: 480px) {
    core-animated-pages {
        width: 100%;
        height: 100%;
    }
}


core-animated-pages > *  {
    font-size: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 30px;
}

html /deep/ #overlay::shadow #scroller {
    height: 400px;
    width: 800px;
}
