<div id="oldBrowser">
  <div id="error">
    <textarea readonly="true" spellcheck="false" style="line-height:14px;color:#27ae60;width:800px;height:160px;font-family: &#39;monospace&#39;, &#39;Courier New&#39;, &#39;Lucida Console&#39;, &#39;MS Mincho&#39;, &#39;Courier&#39;;overflow:hidden;background:none;border:none;outline:none;margin-top:100px;resize:none">
.d88888b  dP
88.    "' 88
`Y88888b. 88d888b. .d8888b. dP  dP  dP    88d8b.d8b. .d8888b. 88d888b. .d8888b. dP    dP
      `8b 88'  `88 88'  `88 88  88  88    88'`88'`88 88'  `88 88'  `88 88ooood8 88    88
d8'   .8P 88    88 88.  .88 88.88b.88'    88  88  88 88.  .88 88    88 88.  ... 88.  .88
 Y88888P  dP    dP `88888P' 8888P Y8P     dP  dP  dP `88888P' dP    dP `88888P' `8888P88
                                                                                     .88
                                                                                 d8888P
    </textarea>
    <div class="exp">
      <li>很抱歉，您当前使用的浏览器所用内核是微软提供的老旧版本内核，无法支持云收银管理平台的使用。</li>
      <li>如果您是Windows XP用户，作为对于微软不再重要的用户群，微软已经放弃以其默认IE8及以下版本浏览器内核为内核的浏览器在您当前操作系统上的内核升级，出于功能支持与安全策略的考虑，请您更新或更换操作系统或通过<a href="http://chrome.google.com/" target="_blank">谷歌浏览器</a>、<a href="http://www.firefox.com.cn/download/" target="_blank">火狐浏览器</a>使用最新的互联网服务。</li>
      <li>如果您是Windows 7/8用户，我们推荐您使用最新版本的<a href="http://chrome.google.com/" target="_blank">谷歌浏览器</a>、<a href="http://www.firefox.com.cn/download/" target="_blank">火狐浏览器</a>，或者您也可以升级到微软提供的最新版本的<a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"
        target="_blank">IE 11浏览器</a></li>
      <li>认为这是一个错误的提示，这可能是您正在使用搜狗、360、百度等浏览器的IE模式（使用了较老版本IE内核）造成的，请尝试切换浏览模式，或更换最新版本的<a href="http://chrome.google.com/" target="_blank">谷歌浏览器</a>、<a href="http://www.firefox.com.cn/download/" target="_blank">火狐浏览器</a>。</li>
    </div>
  </div>
</div>
