<div id='agreement'>
  上海讯联数据服务有限公司
  <br> 营销支持合作协议
  <br>
  <br> 本协议于15/12/29由以下双方签署：
  <br>
  <br> 甲方
  <br> 乙方
  <br> 公司名称
  <br>
  <br> 上海讯联数据服务有限公司
  <br> 办公地址
  <br>
  <br> 地址： 上海市浦东新区祖冲之路2290弄展想广场1号楼1005室
  <br> 邮编： 201135
  <br> 联系人
  <br>
  <br>
  <br>
  <br> 授权签署人
  <br>
  <br> 祝振汉
  <br> 电话：+86 21 60278098
  <br> 传真：+86 21 60276036
  <br> 签字盖章
  <br>
  <br>
  <br> 上海讯联数据服务有限公司
  <br>
  <br>
  <br> 双方在此均保证其拥有签订和履行本协议所需的完全的公司权力和授权、许可、资质及第三方同意，并已采取了一切必要的行动以授权该方及其代表人签订和履行本协议。
  <br> 基于上述的背景和业务需求，双方经友好协商，达成如下合作协议。
  <br>
  <br> 一、合作内容
  <br> 1、乙方向甲方提供支付宝和微信支付交易的技术支持。
  <br> 2、除微信、支付宝向甲方所收取的交易手续费外，乙方所提供的运营、技术支持不另行收取费用。
  <br>
  <br> 二、权利与义务
  <br> 1、乙方按照承诺的服务水平，为甲方提供7X24小时的运维服务。
  <br> 2、根据收单业务相关条例、行业规范和支付渠道规则等要求，乙方发现甲方有下列行为之一的，有权立即停止提供电子支付服务：参与洗钱、诈骗、恐怖融资、网上赌博等违法犯罪活动；支付渠道要求关闭该终端客户；故意诋毁或损害支付渠道、乙方声誉。
  <br> 3、对于乙方准确处理甲方交易信息的情况下，甲方对业务拓展和持续经营中发生的任何业务风险、资金风险承担全部责任，包括但不限于资金损失风险。
  <br> 4、如因法律法规或政府监管部门的政策变更涉及本服务合作的有效性或合法性的，乙方有权立即终止合作并终止本协议。
  <br> 5、如果甲方在合作过程中存在以下行为导致乙方的品牌/利益蒙受损失，乙方有权单方面中止/终止合作和采取相关措施追索损失：在终端客户接入时，未恪守诚实告知原则，隐瞒终端客户实际经营情况，协助终端客户对资质材料进行伪装作假；向终端客户不实宣传和承诺；帮助终端客户串户；违背监管政策的行为；出现数据泄露事件及其他重要风险事件。
  <br> 6、甲方使用的所有涉及乙方系统及支付渠道的业务资料须经乙方同意，并有义务应乙方要求及时归还或销毁。
  <br>
  <br> 三、合规责任
  <br> 1、乙方承诺，其签署本协议以及履行本协议下义务，不会违反其营业执照、成立协议、章程或类似组织文件中的任何规定；不会违反协议履行所涉及的中国法律、法规、规章或政府的授权或批准；并且不会违反其作为当事人一方（或受之约束）的其他任何合同，也不会导致其在该合同项下违约。
  <br> 2、乙方承诺，并不存在影响该方履行本协议项下义务的能力的、已经发生且尚未了结的诉讼、仲裁或其他司法或行政程序。
  <br> 3、乙方已经向甲方披露任何政府机构颁布的已对其全面履行其在本合同项下义务的能力造成重大不利影响的所有文件，并且其此前提供给甲方的文件中没有对任何重要事实的不实陈述或者遗漏。
  <br> 4、甲方承诺，其签署本合同以及履行本合同项下义务，不会违反其营业执照、成立协议、章程或类似组织文件的任何规定；不会违反合同履行所涉及的其所在地的法律、法规、规章或政府的授权或批准；并且不会违反其作为当事人一方（或受之约束）的其他任何合同，也不会导致其在该合同项下违约。
  <br> 5、甲方承诺，并不存在影响该方履行本合同项下义务的能力的、已经发生且尚未了结的诉讼、仲裁或其他司法或行政程序。
  <br> 6、甲方已经向乙方披露任何政府机构颁布的已对其全面履行其在本合同项下义务的能力造成重大不利影响的所有文件，并且其此前提供给乙方的文件中没有对任何重要事实的不实陈述或者遗漏。
  <br> 7、甲方承诺，其开展的业务，已经获得相应授权，并严格遵循监管机构及相关甲方的业务规则。
  <br> 8、如果在本合同签订时任何一方上述承诺与保证的任何一项与当时实际情况有实质性不符，则构成重大违约。
  <br>
  <br> 四、保密条款
  <br> 1、本协议履行过程中，协议一方（下称“接受方”）可能获取另一方（下称“披露方”）商业信息、业务运营、商户及账户信息等。除非出于履行本协议需要，一方在任何时候应维护另一方机密信息的秘密性，不能泄漏且不得允许泄漏另一方的任何机密信息。
  <br> 2、协议任何一方应保证，与一方有工作关系并且由于其职位的缘故知悉关于另一方的保密信息的雇员和其他任何人员，在工作关系维持期间，以及在雇佣、职位或工作关系结束后（视情况而定）不得泄漏或披露任何机密信息。
  <br> 3、为本协议之目的，“机密信息”指与披露方有关的所有信息，不管是书面文字形式、图片形式、机器阅读形式、口头形式，或根据本协议观察的结果，包括但不限于步骤、想法、知识产权（不管是否注册或是否取得专利）、图表、交易机密、技术、客户名册（潜在的或实际的），以及其他客户相关信息、销售统计数据、市场报告、市场预测、营销及其他市场策略，以及其他具有机密性质的商业信息；但不包括接受方在接受信息前已经知道该信息并在使用与披露方面不存在限制，或该信息已经成为公共信息的情况（在不违背本协议的情况下），或信息接受方由第三方获取的无机密约束的信息，或相关法律、有约束力的判决、法院命令或仲裁裁决、证券交易规定或相关政府管理部门要求披露的情况。
  <br> 4、本协议终止后，本协议第4.3条（机密信息）仍然有效。
  <br>
  <br> 五、通知
  <br> 除非协议双方另有书面约定，所有通知如果是由另一方按本协议列出的地址或最后知道的经营地址或公司登记的地址通过递送向另一方发送，或依照以下列出的传真号码向另一方发送传真被认为是有效地送达；并且，通知在专人递送的情况下应在交付当日视为已经送达，在传真发送的情况下在发送当日视为已经送达。
  <br>
  <br> 六、赔偿
  <br> 因任一方违反本协议对另一方造成的损失，应由违约方向另一方赔偿。各方的责任应限于直接损失。任何一方对另一方的间接损失（包括收益的损失）不负有赔偿责任。
  <br>
  <br> 七、适用法律
  <br> 本协议将适用中国大陆法律，并依中国大陆法律解释。
  <br>
  <br> 八、仲裁
  <br> 所有有关本协议的争议将通过双方平等、友好的协商解决。如果协商不能解决争议，任何一方均有权将争议事项提交中国国际经济贸易仲裁委员会上海分会，按照该机构先行有效的仲裁规则进行仲裁。仲裁地点为中国上海，仲裁语言为中文。该仲裁为终局裁决，对协议双方均由约束力。
  <br>
  <br> 九、不可抗力
  <br> 因不可抗力事件，包括火灾、战争、地震或其他公认的不可抗力事件，其出现和后果是不可预见、不可避免和不可克服的，导致一方无法履行其在本协议下的义务，受影响方对于另一方由此遭受的损失或费用不承担责任。受不可抗力事件影响的一方必须立刻通知另外一方，且尽力减少及克服不可抗力的影响，并向另一方提供相关证据。
  <br>
  <br> 十、协议的期限和终止
  <br> 1、本协议书于双方法定代表人或授权代表签字加盖公章后生效。本协议有效期为5年。
  <br> 2、本协议期满后，如果双方履行了协议项下的责任和义务，没有任何一方提出异议，协议可自动延展5年。如果任何一方希望到期后终止协议，则应在协议终止前三个月送达书面通知。协议的修改、终止及其他未尽事宜，由双方协商一致后，另行签订补充协议。任何一方擅自终止本合同，则应赔偿另一方因此遭受的损失。
  <br> 3、一旦出现下列情况中的任何一项或多项，任何一方有权在任何时候将书面通知送达协议其他方后单方面终止本协议：
  <br> A.若另一方因启动破产程序等财务问题无法履行本协议规定的义务；
  <br> B.因双方所在地法律法规、监管要求有强制性规定；
  <br> C.若另一方严重损害了本方的声誉或对第三方合作关系造成不可弥补的伤害而使本协议无法得以执行；
  <br> D.若另一方严重损害了本方的品牌和商标；
  <br> E.若另一方实质违反本协议任何条款和条件。
  <br> 若任何一方出现本款第c、d、e三项事宜之任一项时，应赔偿另一方因此而遭受的损失。
  <br> 4、本协议的终止并不影响依据本协议保密条款、争议解决条款的继续有效，也不影响在本协议的终止当日未决的权利义务。
  <br>
  <br> 十一、其它
  <br> 本协议一式两份，由甲乙双方各执一份，并由双方法定代表人或授权代表人在协议首页所述日期签署，于签署之日起生效。
  <br>
  <br>
</div>
