@charset "UTF-8";

/*body*/
body {
  background: #dddddd;
}

/*container*/
.container .one {
  margin-top: 80px;
  font-size: 34px;
  color: #000;
  text-align: center;
  line-height: 40px;
}

.container .two {
  margin-top: 50px;
  font-size: 16px;
  color: #000;
  text-align: center;
  line-height: 30px;
}

.container .three {
  font-size: 16px;
  color: #000;
  text-align: center;
  line-height: 30px;
}

input:-moz-placeholder {
  color: #000;
}

::-webkit-input-placeholder {
  color: #000;
}

.container .anniu {
  width: 302px;
  height: 42px;
  border-radius: 20px;
  background: #EA181E;
  line-height: 42px;
  text-align: center;
  margin: 100px auto;
  font-size: 20px;
}

.container .anniu:hover {
  cursor: pointer;
  box-shadow: 0 0 3px #666;
}

.container .anniu a {
  color: #FFF;
}

.container .anniu a:hover {
  text-decoration: none
}
