@charset "UTF-8";

/*body*/
body {
  background: #00bcd4;
}

/*container*/
.container .one {
  margin-top: 150px;
  position: relative;
  font-size: 36px;
  color: #FFF;
  text-align: center;
  line-height: 40px;
}

.container .two {
  margin-top: 50px;
  position: relative;
  position: relative;
  font-size: 16px;
  color: #FFF;
  text-align: center;
  line-height: 30px;
}

.container .three {
  position: relative;
  font-size: 16px;
  color: #FFF;
  text-align: center;
  line-height: 30px;
}

input:-moz-placeholder {
  color: #fff
}

::-webkit-input-placeholder {
  color: #fff
}

.container .anniu {
  width: 302px;
  height: 42px;
  border-radius: 20px;
  background: #81deeb;
  line-height: 42px;
  text-align: center;
  margin-top: 180px;
  position: relative;
  left: 50%;
  margin-left: -151px;
  font-size: 18px;
  color: #FFF;
  border: none;
}

.container .anniu:hover {
  cursor: pointer;
  box-shadow: 0 0 3px #666;
}

.container .anniu a {
  color: #FFF;
}

.container .anniu a:hover {
  text-decoration: none
}
