/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 结构元素 */
dl,
dt,
dd,
ul,
ol,
li,

/* list elements 列表元素 */
pre,

/* text formatting elements 文本格式元素 */
fieldset,
lengend,
button,
input,
textarea,

/* form elements 表单元素 */
th,
td {

  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}

/* 设置默认字体 */
body,
button,
input,
select,
textarea {

  /* for ie */

  /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
  font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 {
  font-size: 18px; /* 18px / 12px = 1.5 */
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

/* 将斜体扶正 */
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}

/* 统一等宽字体 */
small {
  font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul,
ol {
  list-style: none;
}

/* 重置文本格式元素 */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

abbr[title],
acronym[title] {

  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help;
}

q:before,
q:after {
  content: '';
}

/* 重置表单元素 */
legend {
  color: #000;
}

/* for ie6 */
fieldset,
img {
  border: none;
}

/* img 搭车：让链接里的 img 无边框 */

/* 注：optgroup 无法扶正 */
button,
input,
select,
textarea {
  font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 重置 hr */
hr {
  border: none;
  height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
  overflow-y: scroll;
}

@charset "UTF-8";

/*body*/
body {
  background: #00bcd4;
}

/*container*/
.container img {
  margin-top: 50px;
  position: relative;
  left: 50%;
  margin-left: -60px;
  margin-bottom: 50px;
}

.container p {
  font-size: 24px;
  color: #FFF;
  text-align: center;
  line-height: 40px;
}

.container .search {
  width: 300px;
  height: 40px;
  border: solid 2px #fff;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  background: #00bcd4;
  margin-top: 100px;
  position: relative;
  left: 50%;
  margin-left: -151px;
}

input:-moz-placeholder {
  color: #81deeb
}

::-webkit-input-placeholder {
  color: #81deeb
}

.container .anniu {
  width: 302px;
  height: 42px;
  margin-top: 120px;
  line-height: 42px;
  text-align: center;
  border-radius: 20px;
  background: #81deeb;
  margin-top: 40px;
  position: relative;
  left: 50%;
  margin-left: -151px;
  font-size: 18px;
  color: #FFF;
  border: none;
}

.container .anniu:hover {
  cursor: pointer;
  box-shadow: 0 0 3px #666;
}

.container .anniu a {
  color: #FFF;
}

.container .anniu a:hover {
  text-decoration: none
}

html,body{
  width: 100%;
  height: 100%;
}

.flex-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.flex-container > .logo-image {
  /*flex: 1;*/
  margin: 50px auto;
}

.flex-container > #titleOne,
.flex-container > #titleTwo  {
  /*flex: 1;*/
  font-size: 24px;
  color: #fff;
  margin-bottom: 15px;
}

.flex-container > #titleTwo {
  /*flex: 1;*/
  margin-bottom: 100px;
}

.flex-container > .search {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  background-color: #00bcd4;
  padding: 10px 15px;
  border: 2px solid #fff;
  color: #fff;
  margin-bottom: 40px;
}

.flex-container > .button {
  box-sizing: border-box;
  width: 300px;
  text-align: center;
  color: #fff;
  background-color: #81deeb;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
}

.flex-container > .button:hover{
  text-decoration: none;
}
