* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: #1EBED6;
    font-size: 16px;
    color: #FFFFFF;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.container {
    min-height: 100%;
    position: relative;
}
.container > .header {
    padding-top: 15%;
}
.header > .logo-wrap {
    margin: 0 auto;
    width: 40%;
    height: auto;
}
.header > .register-wrap {
    margin: 0 auto;
    width: 35%;
    height: auto;
}
.header > h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
img {
    width: 50%;
    margin-left: 25%;
}
.registerImg{
    width: 50%
    margin-left: 25%;
}
.alert-register {
    text-align: left;
    color: #FFFFFF;
    width: 80%;
    margin: 20px auto 0;
    font-size: 10px;
}

/*表单*/

input:-ms-input-placeholder {
    color: #FFFFFF;
}
input::-webkit-input-placeholder {
    color: #FFFFFF;
}
.form-container {
    text-align: center;
    padding-bottom: 50px;
    overflow: auto;
    margin-top: 20px;
}
.form-container > .input-container {
    margin-bottom: 20px;
}
.input-container > .input-group {
    margin: 0 auto;
    width: 80%;
    position: relative;
}
.email-input {
    display: inline-block;
    background-color: #1EBED6;
    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    width: 100%;
    min-height: 45px;
    color: #FFFFFF;
    padding: 14px 0 10px 50px;
    font-size: 13px;
}
.input-group > i {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
}

/*起始页云收银*/

.form-container-label {
    color: #FFFFFF;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*自动登录*/

.auto-login-container {
    width: 68%;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 18px;
}
.auto-login-container > .auto-login-wrap {
    float: left;
}
.auto-login-container > .forget-pwd {
    float: right;
}
.auto-login-container > .forget-pwd > a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

/*登录注册按钮*/

.form-container > .btn-login-register {
    position: relative;
    width: 80%;
    margin: 28% auto 0;
    min-height: 25%;
}
.btn-login {
    float: left;
    background-color: #81DFEB!important;
    width: 45%;
    border: 2px solid #81DFEB;
    border-radius: 25px;
    margin: 0 auto;
    height: 50px;
    font-size: 16px;
    color: #FFFFFF;
    display: inline-block;
    outline: none;
}
.btn-register {
    float: right;
    background-color: #81DFEB!important;
    width: 45%;
    border: 2px solid #81DFEB;
    border-radius: 25px;
    margin: 0 auto;
    font-size: 16px;
    color: #FFFFFF;
    display: inline-block;
    outline: none;
    height: 50px;
}
.btn-next {
    margin: 0 auto;
    width: 80%;
    background-color: #81DFEB;
    color: #FFFFFF;
    font-size: 16px;
    border: 2px solid #81DFEB;
    border-radius: 25px;
    height: 50px;
    display: inline-block;
    outline: none;
}

/*页脚*/

.foot-container {
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    position: absolute;
    padding-bottom: 30px;
    bottom: 0;
    left: 0;
}
.backbtn-register {
    margin: -35px 20px;
    position: absolute;
}
.back-btn-img {
    width: 40%;
    margin-left: 25%;
}
